# .clang-format

BasedOnStyle: Google
Language: Cpp

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 100

DerivePointerAlignment: false
PointerAlignment: Right      # int* p
ReferenceAlignment: Right    # T& t